.home-div {
  margin-top: -621px;
}
.ximg-demo {
  width: 80%;
}
.ximg-error {
  background-color: #f3f3f3;
}
.ximg-error:after {
  content: '加载失败';
  color: red;
}
.home-desc-img {
  width: 100%;
  height: 560px;
}
.company-intro-div {
  width: 100%;
  height: 560px;
  background: #59c3fb;
  position: relative;
}
.company-intro-text {
  width: 50%;
  background: #44535c;
  color: #fff;
  position: absolute;
  right: 0;
  top: 76px;
}
.company-intro-img {
  width: 190px;
  height: 190px;
  border: 1px solid #fff;
  position: absolute;
  left: 20px;
  bottom: 52px;
}

/* series desc */
.series-list {
  width: 100%;
  padding-top: 72px;
}
.series-list-info {
  width: 97%;
  height: 160px;
  border: 1px solid #888;
  box-sizing: border-box;
  margin-left: 1%;
  margin-right: 2%;
  display: table;
}
.series-list-lt {
  width: 160px;
  height: 100%;
  border: 1px solid red;
  box-sizing: border-box;
  background: #404040;
  color: #fff;
  display: table-cell;
  padding-left: 10px;
  padding-top: 24px;
  text-align: left;
}
.series-list-lt h3 {
  margin-top: 20px;
  margin-bottom: 30px;
}
.series-list-rt {
  display: table-cell;
}
.series-list-rt img {
  width: 100%;
  height: 100%;
}

.see-more {
  padding: 26px 0px;
  color: #fff;
}

/* goods list info */
.goods-list {
  width: 100%;
  border: 1px solid #fff;
  box-sizing: border-box;
}
.goods-list-icons {
  width: 100%;
  border: 1px solid #fff;
  box-sizing: border-box;
  display: table;
  color: #fff;
}
.goods-list-icon {
  height: 120px;
  display: table-cell;
  border: 1px solid red;
  vertical-align: middle;
}
.goods-list-icon img {
  width: 40px;
  height: 40px;
}

/* 各系列图片信息展示 */
.goods-info-show {
  width: 100%;
  height: 350px;
  position: relative;
  border: 1px solid #888;
  box-sizing: border-box;
  margin-top: 20px;
}
.goods-img-pos {
  width: 80%;
  height: 350px;
  border: 1px solid red;
  box-shadow: 0 0 8px #999;
  box-sizing: border-box;
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
}
.goods-inter {
  position: relative;
}
.goods-info-img {
  width: 88%;
  height: 260px;
  border: 1px solid #fff;
  position: absolute;
  left: 50%;
  top: 0px;
  transform: translateX(-50%);
}
.goods-info-intro {
  border: 1px solid yellow;
  position: absolute;
  bottom: 20px;
  left: 50%;
  transform: translateX(-50%);
  vertical-align: middle;
}
.goods-info-intro h4 {
  margin-bottom: 10px;
}

/* 页脚 */
.home-footer {
  width: 100%;
  height: 200px;
  background: #404040;
  position: relative;
}
.logo-bq {
  border: 1px solid #fff;
  color: #fff;
  position: absolute;
  top: 56%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.footer-logo {
  width: 160px;
  height: 60px;
  margin-top: 30px;
  border: 1px solid gold;
  box-sizing: border-box;
}
.footer-icon {
  width: 60px;
  height: 110px;
  border: 1px solid #fff;
  position: absolute;
  right: 20px;
  top: 50px;
}
.footer-icon-1 {
  width: 60px;
  height: 55px;
  border: 1px solid red;
  box-sizing: border-box;
}