.home-div {
  margin-top: -610px;
}
.home-desc-img {
  width: 100%;
  position: relative;
}
.company-logo-desc {
  width: 100%;
  position: absolute;
  display: table-cell;
  vertical-align: middle;
  box-sizing: border-box;
  left: 0px;
  top: 110px;
}
.company-logo-desc h5 {
  color: #fff;
  margin-top: 20px;
}
.home-top-logo {
  width: 30%;
  margin-left: 50%;
  transform: translateX(-50%);
  vertical-align: middle;
}
.home-desc-img img {
  width: 100%;
  height: 100%;
}
.company-intro-div {
  width: 100%;
  height: 560px;
  background: #59c3fb;
  position: relative;
}
.company-intro-text {
  width: 50%;
  background: #ddc47d;
  color: #222;
  position: absolute;
  right: 0;
  top: 34px;
  text-align: left;
  padding: 30px 26px 34px 16px;
}
.company-intro-text h3 {
  margin-bottom: 20px;
}
.company-intro-img {
  width: 190px;
  position: absolute;
  left: 20px;
  bottom: 52px;
}
.company-intro-img img {
  width: 100%;
  height: 100%;
  vertical-align: middle;
}

/* series desc */
.series-list {
  width: 100%;
  padding-top: 72px;
  overflow: hidden;
}
.series-list-info {
  width: 97%;
  height: 160px;
  border: 1px solid #888;
  box-sizing: border-box;
  margin-left: 1%;
  margin-right: 2%;
  display: table;
}
.series-list-lt {
  width: 40%;
  box-sizing: border-box;
  background: #404040;
  color: #fff;
  display: table-cell;
  padding-left: 10px;
  padding-top: 24px;
  text-align: left;
}
.series-list-lt h3 {
  margin-top: 14px;
  margin-bottom: 18px;
}
.series-list-lt span.see-more-span {
  font-weight: bolder;
}
.series-list-rt {
  width: 60%;
  display: table-cell;
}
.series-rt-img {
  width: 100%;
}
.series-rt-img img {
  width: 100%;
  height: 100%;
  margin-bottom: -42px;
  vertical-align: middle;
}

.see-more {
  padding: 26px 0px;
}

/* goods list info */
.goods-list {
  width: 100%;
  box-sizing: border-box;
}
.goods-list-icons {
  width: 100%;
  display: table;
}
.goods-list-icon {
  height: 120px;
  display: table-cell;
  vertical-align: middle;
}
.goods-list-icon img {
  width: 40px;
  height: 40px;
}

/* 各系列图片信息展示 */
.goods-info-show {
  width: 100%;
  height: 350px;
  position: relative;
  margin-top: 20px;
}
.goods-img-pos {
  width: 80%;
  height: 350px;
  box-shadow: 0 0 8px #999;
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
}
.goods-inter {
  position: relative;
}
.goods-info-img {
  width: 88%;
  border: 1px solid #fff;
  position: absolute;
  left: 50%;
  top: 0px;
  transform: translateX(-50%);
}
.goods-info-img img {
  width: 100%;
  height: 100%;
}
.goods-info-intro {
  position: absolute;
  bottom: 20px;
  left: 50%;
  transform: translateX(-50%);
  vertical-align: middle;
}
.goods-info-intro h4 {
  margin-bottom: 10px;
}

/* 页脚 */
.home-footer {
  width: 100%;
  height: 200px;
  background: #404040;
  position: relative;
}
.logo-bq {
  width: 50%;
  color: #fff;
  position: absolute;
  top: 56%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.footer-logo {
  margin-top: 10px;
}
.footer-icon {
  width: 60px;
  height: 110px;
  position: absolute;
  right: 12px;
  top: 50px;
}
.footer-icon-1 {
  width: 60px;
  height: 55px;
  border: 1px solid red;
  box-sizing: border-box;
}