.product-box {
  margin-top: -621px;
}
.product-img {
  width: 100%;
}
.product-img img {
  width: 100%;
  height: 100%;
}

/* 产品具体信息 */
.goods-list {
  width: 100%;
}
.goods-list-icons {
  width: 100%;
  display: table;
}
.goods-list-icon {
  height: 120px;
  display: table-cell;
  vertical-align: middle;
  position: relative;
}
.goods-icon {
  width: 30px;
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
}
.goods-list-icon img {
  width: 100%;
  height: 100%;
}
.goods-list-icon span {
  width: 80%;
  display: inline-block;
  position: absolute;
  bottom: 20px;
  left: 50%;
  transform: translateX(-50%);
}

/* 各系列图片信息展示 */
.goods-info-show {
  width: 100%;
  height: 350px;
  position: relative;
  margin-top: 20px;
}
.goods-img-pos {
  width: 80%;
  height: 350px;
  box-shadow: 0 0 8px #999;
  box-sizing: border-box;
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
}
.goods-inter {
  position: relative;
}
.goods-info-img {
  width: 88%;
  position: absolute;
  left: 50%;
  top: 16px;
  transform: translateX(-50%);
}
.goods-info-img img {
  width: 100%;
  height: 100%;
}
.goods-info-intro {
  position: absolute;
  bottom: 10px;
  left: 50%;
  transform: translateX(-50%);
  vertical-align: middle;
}
.goods-info-intro h4 {
  margin-bottom: 10px;
}